# Ames houses predictions with deep networks

## Necessary imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load dataset

In [6]:
df = pd.read_csv('ames_data.csv')

# Remove dots from column names to match data_description.txt
df.columns = [column.replace('.', '') for column in df.columns]

### Show basic information about dataframe

In [5]:
# Show basic info about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order          2930 non-null   int64
 1   PID            2930 non-null   int64
 2   MSSubClass     2930 non-null   int64
 3   MSZoning       2930 non-null   object
 4   LotFrontage    2440 non-null   float64
 5   LotArea        2930 non-null   int64
 6   Street         2930 non-null   object
 7   Alley          198 non-null    object
 8   LotShape       2930 non-null   object
 9   LandContour    2930 non-null   object
 10  Utilities      2930 non-null   object
 11  LotConfig      2930 non-null   object
 12  LandSlope      2930 non-null   object
 13  Neighborhood   2930 non-null   object
 14  Condition1     2930 non-null   object
 15  Condition2     2930 non-null   object
 16  BldgType       2930 non-null   object
 17  HouseStyle     2930 non-null   object
 18  OverallQual    2930 non-null   int64
 19  OverallCond    2930 non-null   int64
 20  YearBuilt      2930 non-null   int64
 21  YearRemodAdd   2930 non-null   int64
 22  RoofStyle      2930 non-null   object
 23  RoofMatl       2930 non-null   object
 24  Exterior1st    2930 non-null   object
 25  Exterior2nd    2930 non-null   object
 26  MasVnrType     1155 non-null   object
 27  MasVnrArea     2907 non-null   float64
 28  ExterQual      2930 non-null   object
 29  ExterCond      2930 non-null   object
 30  Foundation     2930 non-null   object
 31  BsmtQual       2850 non-null   object
 32  BsmtCond       2850 non-null   object
 33  BsmtExposure   2847 non-null   object
 34  BsmtFinType1   2850 non-null   object
 35  BsmtFinSF1     2929 non-null   float64
 36  BsmtFinType2   2849 non-null   object
 37  BsmtFinSF2     2929 non-null   float64
 38  BsmtUnfSF      2929 non-null   float64
 39  TotalBsmtSF    2929 non-null   float64
 40  Heating        2930 non-null   object
 41  HeatingQC      2930 non-null   object
 42  CentralAir     2930 non-null   object
 43  Electrical     2929 non-null   object
 44  X1stFlrSF      2930 non-null   int64
 45  X2ndFlrSF      2930 non-null   int64
 46  LowQualFinSF   2930 non-null   int64
 47  GrLivArea      2930 non-null   int64
 48  BsmtFullBath   2928 non-null   float64
 49  BsmtHalfBath   2928 non-null   float64
 50  FullBath       2930 non-null   int64
 51  HalfBath       2930 non-null   int64
 52  BedroomAbvGr   2930 non-null   int64
 53  KitchenAbvGr   2930 non-null   int64
 54  KitchenQual    2930 non-null   object
 55  TotRmsAbvGrd   2930 non-null   int64
 56  Functional     2930 non-null   object
 57  Fireplaces     2930 non-null   int64
 58  FireplaceQu    1508 non-null   object
 59  GarageType     2773 non-null   object
 60  GarageYrBlt    2771 non-null   float64
 61  GarageFinish   2771 non-null   object
 62  GarageCars     2929 non-null   float64
 63  GarageArea     2929 non-null   float64
 64  GarageQual     2771 non-null   object
 65  GarageCond     2771 non-null   object
 66  PavedDrive     2930 non-null   object
 67  WoodDeckSF     2930 non-null   int64
 68  OpenPorchSF    2930 non-null   int64
 69  EnclosedPorch  2930 non-null   int64
 70  X3SsnPorch     2930 non-null   int64
 71  ScreenPorch    2930 non-null   int64
 72  PoolArea       2930 non-null   int64
 73  PoolQC         13 non-null     object
 74  Fence          572 non-null    object
 75  MiscFeature    106 non-null    object
 76  MiscVal        2930 non-null   int64
 77  MoSold         2930 non-null   int64
 78  YrSold         2930 non-null   int64
 79  SaleType       2930 non-null   object
 80  SaleCondition  2930 non-null   object
 81  SalePrice      2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [7]:
# Display first few rows of the dataframe
df.head()

,Order,PID,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [9]:
print(f"Dataframe shape: {df.shape}")

Dataframe shape: (2930, 82)

## Investigate data in dataset

In [10]:
# Remove fields 'PID' and 'Order' (not even explained in data_description.txt)
df = df.drop(columns=['PID', 'Order'])